*.opensdf
*.sdf
/project/proj.win32/Debug.win32
*.obj
*.tlog
*.pdb
*.idb
ipch
*.suo
*.exe
*.xcscheme
*.xcworkspacedata
*.xcuserstate
*.o
*.d
*.ilk
*.so
/proj.android/gen
/proj.android/libs
/proj.android/obj
/proj.android/bin
/proj.android/assets
/proj.win32/Debug.win32
/proj.win32/Debug
*.log
*.lastbuildstate
*.cache
*.unsuccessfulbuild
